<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registration page</title>
  
  <style>
    body{
      background: url("https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .cen{
      display: block;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      width: 20%;
      height: 20%;
      }
    .b{
        background-color: white; 
        color: black; 
        border: 2px solid #008CBA;
        width: 100px;
        height: 50px;
        border-radius: 8px;
    }
    .b:hover {
        background-color: #008CBA;
        color: white;
    }
</style>
</head>
<body>
  <section>
    <form action = "/HOME" method = "GET">
    <div class="container mt-5"><br><br>
      <img src="https://previews.123rf.com/images/arcady31/arcady311303/arcady31130300032/18519959-vector-oops-symbol.jpg" class="cen"><br>
      <h1 style="text-align: center; color: black;">Invalid Login Credentials...</h1>
      <h3 style="text-align: center; color: black;">Please enter correct login credentials!</h3>
      <h4 style="text-align: center; color: black;">For registration click on the "Home".</h4><br>
      <center><a href="/" style="text-align: inherit;">
        <a href = "homepage" style = "color : black"> 
            <button> HOME </button> </a>

    </div>
    </form>
  </section>
</body>
</html>