<html>
<head>
<style>
body{
    background-image: url("https://www.onestop.co.uk/wp-content/uploads/Great-Offers.png");
    background-repeat: no-repeat;
    background-size: 100% 21%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #222;
}

.main {
  width: 1170px;
  margin: 100px auto;
}
.section-title {
  text-align: center;
  margin-bottom: 80px;
}
.section-title h2 {
  text-transform: capitalize;
  font-size: 35px;
  position: relative;
  display: inline-block;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.section-title h2:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #00875c;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.menus {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu-column {
  width: 31%;
}
.menu-column h4 {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 10px;
}
.menu-column h4:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #00875c;
  bottom: 0;
}
.single-menu {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.single-menu img {
  border-radius: 50%;
  max-width: 110px;
  border: 1px dashed #ddd;
  padding: 3px;
  margin-right: 15px;
  transition: .3s;
}
/*.single-menu:hover img{
    transform: rotate(360deg);
}*/
.single-menu .menu-content h5 {
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
  border-bottom: 1px dashed #222;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.single-menu .menu-content h5 span {
  color: tomato;
  float: right;
  font-weight: 600;
  font-style: italic;
} 
</style>
</head>
<body>
    <form action = "/HOME" method = "GET">
<div class="main">
        <div class="section-title">
           <h1 style="font-family:Brush Script" style="font-size: 400%";><i>MENU</i></h1>
        </div>
        <div class="menus">
            <div class="menu-column">
                <h4><i>Main Course</i></h4>
                <div class="single-menu">
                    <img src="https://images7.alphacoders.com/596/596343.jpg" alt="">
                    <div class="menu-content">
                        <h5>Pizza <span>450</span></h5>
                        <p>Loaded with Chicken,veggies.</p>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="https://images8.alphacoders.com/817/thumbbig-817353.webp" alt="">
                    <div class="menu-content">
                        <h5>Lasagna <span>350</span></h5>
                        <p>Chicken and Cheese.</p>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUfVKY-TxlVQzULe1RX05yu5Gama4-LS9s2w&usqp=CAU" alt="">
                    <div class="menu-content">
                        <h5>Meat Balls <span>325</span></h5>
                        <p>Noodles with MeatBalls.</p>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="https://img.freepik.com/premium-photo/penne-pasta-tomato-sauce-with-meat-tomatoes-decorated-with-pea-sprouts-dark-table_2829-3412.jpg?w=900" alt="">
                    <div class="menu-content">
                        <h5>Pasta<span>300</span></h5>
                        <p>Tossed in Cheese and sauce.</p>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="https://www.eatthis.com/wp-content/uploads/sites/4/2022/04/burger-fries.jpg?quality=82&strip=1" alt="">
                    <div class="menu-content">
                        <h5>Burger<span>340</span></h5>
                        <p>Loaded with chicken,tomato,cheese.</p>
                    </div>
                </div>
            </div>
            <div class="menu-column">
                <h4>Desserts</h4>
                <div class="single-menu">
                    <img src="https://images.unsplash.com/photo-1551024601-bec78aea704b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZGVzc2VydHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" alt="">
                    <div class="menu-content">
                        <h5>Donuts <span>275</span></h5>
                        <p>Chocolate ,Strawberry Twist Donuts .</p>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="https://images.unsplash.com/photo-1620980776848-84ac10194945?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                    <div class="menu-content">
                        <h5>Cookies <span>250</span></h5>
                        <p>Fruit Cookies,SnowBall Cookies.</p>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="https://images.unsplash.com/photo-1541599188778-cdc73298e8fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=440&q=80" alt="">
                    <div class="menu-content">
                        <h5>Waffle <span>300</span></h5>
                        <p>Belgium ,American Waffles.</p>
                    </div>
                </div>
            </div>
            <div class="menu-column">
                <h4>Mocktails</h4>
                <div class="single-menu">
                    <img src="https://images.unsplash.com/photo-1618046364546-81e9d03d39a6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                    <div class="menu-content">
                        <h5>Orange Punch <span>250</span></h5>
                        <p>Made with Orange and ginger.</p>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="https://thumbs.dreamstime.com/z/pink-drink-ice-summer-cold-welcome-cocktail-close-up-mix-berries-soda-thyme-transparent-glass-white-table-cafe-153413097.jpg" alt="">
                    <div class="menu-content">
                        <h5>Shirly Temple <span>380</span></h5>
                        <p>Made with cherrys.</p>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="https://images.unsplash.com/photo-1596458598955-cea21e95a20b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                    <div class="menu-content">
                        <h5>Blue Lagoon <span>300</span></h5>
                        <p>Made with bue curacao and sprite.</p>
                    </div>
                </div>
            </div>
        </div>
        <center><a href = "homepage" style = "color : white"> 
            <button> HOME </button> </a></center>
    </div>
</form>

</body>
</html>